html:after{
 background-image:url("http://webimage.10x10.co.kr/play2016/2017/20/20170728103736_0k366.jpg");
   top:0;
   left:0;
   position:absolute;
   background-size:cover;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   opacity:0.7!important;
   filter:alpha(opacity=70);
   z-index:-1;
   content:"";
   width:100%;
   margin: 0;
   padding: 0;
   height: 100%;

}
 img{
       margin-left:33%;
       margin-right:20%;
       margin-top:7%;
       width:35%;
       height:40%;
       opacity:0.8;
       -webkit-border-radius:15px;

}
form{

       margin-left:41.2%;
       margin-right:20%;
       margin-top:0.5%;
       margin-bottom:3%;
}


.sb{
   background-color:#ff3376;
   text-align:center;
       font-size:18px;
       opacity: 0.7;
       margin-left:5%;
       margin-right:20%;
       margin-top:4%;
       width:36%;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       -webkit-border-radius:15px;
       border:0;

}
input /*스타일초기화*/
{
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
}
input[type=submit] {-webkit-appearance:none;}
